@page
@model ShoppingListsModel
@{
    if (Model.Lists.Any())
    {
        <h2>All Shopping Lists</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th> @* Actions in this column*@
                </tr>
            </thead>
            <tbody>
                @foreach (var list in Model.Lists) // TODO: Remove "var" usage when we have models for views, rather than entities.
                {
                    <tr>
                        <td>@list.Name</td>
                        <td>
                            <a class="btn btn-primary" asp-page="ShoppingList" asp-route-listName="@list.Name">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are currently no shopping lists.</p>
    }
}
