@page
@model AllModel
@{
    <partial name="_ResultAlert" />

    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addListModal">
            <i class="fa-solid fa-plus"></i> Add List
        </button>
        <partial name="_AddListModal" model="Model.Shops" />
    </div>

    if (Model.ListNames.Any())
    {
        <h2>All Shopping Lists</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th> @* Actions in this column*@
                </tr>
            </thead>
            <tbody>
                @foreach (string listName in Model.ListNames)
                {
                    DialogueModel<string> dialogueModel = new DialogueModel<string>(listName);

                    <tr>
                        <td>@listName</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-primary me-2" asp-page="/Lists/Index" asp-route-listName="@listName">
                                    <i class="fa-solid fa-edit"></i> Edit
                                </a>

                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@dialogueModel.Id">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                    <partial name="_DeleteListConfirmModal" model=@dialogueModel />
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are currently no shopping lists.</p>
    }
}
