@page
@model IndexModel
@{
    ViewData[nameof(BasePageModel.Title)] = Model.List.Name;
}
<partial name="_ResultAlert" />

<h2>@Model.List.Name</h2>
<div class="d-flex justify-content-end">
    <button class="btn btn-danger me-1" data-bs-toggle="modal" data-bs-target="#clearListModal">
        <i class="fa-solid fa-eraser"></i> Clear List
    </button>
    <a class="btn btn-primary me-1" asp-page="ShoppingMode" asp-route-listName="@Model.List.Name">
        <i class="fa-solid fa-building"></i> Shopping Mode
    </a>
    <button class="btn btn-secondary content-loader"
            data-bs-toggle="modal"
            data-bs-target="#@RegisterProductModel.DefaultModalId"
            data-load-url="@Url.Action(nameof(ShopsController.ProductOptions), ShopsController.ControllerName, new { shopName = Model.List.ShopName })"
            data-load-target="#@RegisterProductModel.DefaultModalId .product-options">
        <i class="fa-solid fa-plus"></i> Register Product With Shop
    </button>
</div>

@* Clear list modal *@
<partial name="_ClearListModal" model="new ClearListModel { ListName = Model.List.Name }" />

@* Register item modal *@
<partial name="_RegisterProductModal" model="new RegisterProductModel { ShopName = Model.List.ShopName }" />

@if (Model.List.Items.Any())
{
    <div class="list-index-container">
        <div class="mt-1 rounded p-3 list-product-viewer">
            <div class="input-group mb-3">
                <input id="productSearchInput" class="form-control" type="text" placeholder="Search products..."/>
                <button class="btn btn-secondary" type="button" id="clearProductSearchButton">Clear Search</button>
            </div>

            <p>Select products to add to the list</p>
            <div class="reloadable" data-reload-url="/Lists/Index?listName=@Model.List.Name&handler=Products">
                <partial name="_Products" />
            </div>
        </div>

        <div class="rounded p-3 mt-3 list-item-viewer">
            <p class="fw-bold">Items:</p>
            <div class="reloadable" data-reload-url="/Lists/Index?listName=@Model.List.Name&handler=Items">
                <partial name="_Items" />
            </div>
        </div>
    </div>
}
