@page
@model IndexModel
@{
    ViewData[nameof(BasePageModel.Title)] = Model.List.Name;
}

<div class="d-flex justify-content-between">
    <div>
        <p>List name is @Model.List.Name</p>
    </div>
    <button class="btn btn-primary content-loader"
            data-bs-toggle="modal"
            data-bs-target="#@RegisterProductModel.DefaultModalId"
            data-load-url="@Url.Action(nameof(ShopsController.ProductOptions), ShopsController.ControllerName, new { shopName = Model.List.ShopName })"
            data-load-target="#@RegisterProductModel.DefaultModalId .product-options">
        <i class="fa-solid fa-plus"></i> Register Product
    </button>
</div>

<p>Items:</p>

@foreach (var item in Model.List.Items)
{
    <p>@item.Name</p>
}

@* Register item modal *@
<partial name="_RegisterProductModal" model="new RegisterProductModel { ShopName = Model.List.ShopName }" />
