@page
@model ShoppingList.Web.Pages.Lists.ShoppingModeModel
@{
    <h2>@Model.List.Name - Shopping Mode</h2>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary me-1" asp-page="Index" asp-route-listName="@Model.List.Name">
            <i class="fa-solid fa-pen-to-square"></i> Edit Mode
        </a>
        <button class="btn btn-secondary content-loader"
                data-bs-toggle="modal"
                data-bs-target="#@RegisterProductModel.DefaultModalId"
                data-load-url="@Url.Action(nameof(ShopsController.ProductOptions), ShopsController.ControllerName, new { shopName = Model.List.ShopName })"
                data-load-target="#@RegisterProductModel.DefaultModalId .product-options">
            <i class="fa-solid fa-plus"></i> Register Product With Shop
        </button>
    </div>

    <div class="shopping-mode">
        <div class="reloadable" data-reload-url="/Lists/ShoppingMode?listName=@Model.List.Name&handler=PickLists">
            <partial name="_ShoppingModeLists" />
        </div>
    </div>

    @* Register item modal *@
    <partial name="_RegisterProductModal" model="new RegisterProductModel { ShopName = Model.List.ShopName }" />
}
