@media (max-width: 768px) {
    html {
        font-size: 18px;
    }

    #shopAccordion .register-product-button {
        padding: 0.75rem;
    }

    .all-products .product {
        font-size: 1.25rem;
    }

        .all-products .product button {
            font-size: 1.25rem;
        }

    .list-management-buttons {
        flex-direction: column;
    }

        .list-management-buttons .list-management-button-group {
            width: 100%;
        }

            .list-management-buttons .list-management-button-group:not(:first-child) {
                margin-top: 5px;
            }

    .list-product-viewer .checkbox-container {
        font-size: 1.25rem;
    }

    .shopping-mode-item {
        font-size: 1.25rem;
    }

    .toggle-picked-button {
        font-size: 1.25rem;
    }
}
