@media (max-width: 768px) {
    #shopAccordion .register-product-button {
        font-size: 1.5rem;
        padding: 0.75rem;
    }

    .accordion-button {
        font-size: 1.5rem;
    }

    .all-products .product {
        font-size: 1.75rem;
    }

        .all-products .product button {
            font-size: 1.75rem;
        }
}