html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.accordion-striped .accordion-item:nth-of-type(2n+1) .accordion-button {
    background-color: rgba(0,0,0,0.05);
}

#shopAccordion .all-products .product:nth-child(odd) {
    background-color: #e7f1ff;
}

.list-product-viewer {
    background-color: lightgrey;
}

    .list-product-viewer .checkbox-container {
        padding: 5px;
        background-color: white;
    }

        .list-product-viewer .checkbox-container:nth-child(odd) {
            background-color: bisque;
        }

.list-item-viewer {
    background-color: lightsteelblue;
}

.shopping-mode-items .item:nth-child(odd) {
    background-color: #ccc;
}

.shopping-mode-items.unpicked .item.picked {
    display: none;
}

.shopping-mode-items.picked .item.unpicked {
    display: none;
}
