html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header nav {
    border-bottom: 2px solid grey;
}

.accordion-striped .accordion-item:nth-of-type(2n+1) .accordion-button {
    background-color: rgba(0,0,0,0.05);
}

#shopAccordion .all-products .product:nth-child(odd) {
    background-color: #e7f1ff;
}

.list-management-buttons {
    display: flex;
    justify-content: end;
}

    .list-management-buttons .list-management-button-group {
        display: flex;
    }

    .list-management-buttons .list-management-button-group .btn {
        flex-grow: 1;
    }

.list-product-viewer {
    border: 2px solid grey;
}

    .list-product-viewer .checkbox-container {
        padding: 5px;
        background-color: white;
    }

        .list-product-viewer .checkbox-container:nth-child(odd) {
            background-color: bisque;
        }

        .list-product-viewer .checkbox-container:hover {
            cursor: pointer;
            background-color: lightgray;
        }

        .list-product-viewer .checkbox-container[data-is-checked="true"] .item-off {
            display: none;
        }

        .list-product-viewer .checkbox-container[data-is-checked="false"] .item-on {
            display: none;
        }

    .list-product-viewer .checkbox-icons {
        color: var(--bs-primary);
        margin-right: 0.5rem;
    }

    .list-item-viewer {
        background-color: lightsteelblue;
    }

.shopping-mode-items .item:nth-child(odd) {
    background-color: #ccc;
}

.shopping-mode-items.unpicked .item.picked {
    display: none;
}

.shopping-mode-items.picked .item.unpicked {
    display: none;
}
