html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.accordion-striped .accordion-item:nth-of-type(2n+1) .accordion-button {
    background-color: rgba(0,0,0,0.05);
}

.list-item-viewer {
    background-color: lightsteelblue;
}

.list-product-viewer {
    background-color: lightgrey;
}

.shopping-mode-items.unpicked .item.picked {
    display: none;
}

.shopping-mode-items.picked .item.unpicked {
    display: none;
}
